body {
    margin: 0;
    font-family: 'Arial Black', sans-serif;
    background-color: transparent;
    color: #ff0000; /* Pink */
}


.headline {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.headline.small {
    font-size: 1.5em;
}

.subtext {
    font-size: 1.2em;
    margin: 0;
}

.notice-text {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.6;
}

.black-text {
    color: black;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 20px;
}


.footer-note {
    margin-top: 15px;
    font-size: 0.9em;
    color: gray;
}

.section-img {
    height: 20vh;
    max-width: 100%;
    width: auto;
    display: block;
    margin: 0 auto 12px auto;
    object-fit: cover;
}

@media (min-width: 941px) {
    #overlay-content {
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background: rgba(0, 0, 0, 0);
        color: #ff0000; /* Pink */
        z-index: 20;
        overflow: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 940px) {
    .notice-text {
        max-width: 700px;
        margin: 0 auto;
        font-size: 0.8em;
        line-height: 1.6;
        color: #ff0000; /* Pink */
        text-align: justify;
    }
    .section-img {
        height: 15vh;
        max-width: 90vw;
        width: auto;
        display: block;
        margin: 0 auto 12px auto;
        object-fit: cover;
    }
    #overlay-content {
        height: 100vh;
        align-items: flex-start; /* Stick to the top vertically */
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center; /* Центр по горизонтали */
        align-items: flex-start; /* Прилепить вверх по вертикали */
        padding-top: 10px; /* Отступ сверху */
        text-align: center;
        background: rgba(0, 0, 0, 0);
        z-index: 20;
        overflow: auto;
        box-sizing: border-box;
    }
}